
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
}

#frontStyle {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #frontStyle {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
} 

.title {
  text-align: center;
  color: aqua;
  padding: 100px 0;
  font-style: italic;
  font-variant: small-caps;
  font-size: 70px;
  font-weight: bolder;
  
}

.links {
  
  display: flex;
  justify-content: space-around;
   
}
.links h3 {
  color: lightseagreen;
  font-style: italic;
  font-family: monospace;
  
}
#linkOne:hover {
  color: #ffa500;
}
#linkOne {
  font-size: 30px;
  font-style: italic;
  font-family: monospace;
}
#linkTwo:hover {
  color: #ffa500;
}
#linkTwo {
  font-size: 30px;
  font-style: italic;
  font-family: monospace;
}
#linkThree:hover {
  color: #ffa500;
}
#linkThree {
  font-size: 30px;
  font-style: italic;
  font-family: monospace;
}

.searchForCity {
  text-align: center;
  color: aqua;
  padding: 0px 0;
  font-style: italic;
  font-variant: small-caps;
  font-size: 70px;
  font-weight: bolder;
}
#chart {
  max-width: 800px;
  max-height: 200px;
}


