
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
}

#frontStyle {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #frontStyle {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
} 

.title {
  text-align: center;
  color: aqua;
  padding: 100px 0;
  font-style: italic;
  font-variant: small-caps;
  font-size: 70px;
  font-weight: bolder;
  
}

.links {
  
  display: flex;
  justify-content: space-around;
   
}
.links h3 {
  color: #4183c4;
  font-style: initial;
  font-family: monospace;
  font-size: 20px;
 
  
  
}
#linkOne:hover {
  color: #ffa500;
}
#linkOne {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
}
#linkTwo:hover {
  color: #ffa500;
}
#linkTwo {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
}
#linkThree:hover {
  color: #ffa500;
}
#linkThree {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
}

.searchForCity {
  text-align: center;
  color: aqua;
  padding: 0px 0;
  font-style: italic;
  font-variant: small-caps;
  font-size: 70px;
  font-weight: bolder;
}
#chart {
  max-width: 800px;
  max-height: 200px;
}

.input {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* @media ( min-width: 600px){
  .mobile-Nav {
    display: none;
  }
}

@media ( max-width: 600px){
  .links {
    display: none;
  }
} */

.cityInfo  {
  float: left;
  padding: 50px 0;
  color: aqua;
  
}
.cityInfo h3, p{
  margin:0;
  }

  .cityInfo h3 {
    font-size: 30px;
  }

  .aboutus ul li {
    list-style: none;
    
   
  }

